.link-more {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  width: fit-content;

  font-family: $font-family1;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $text--a;

  svg {
    fill: currentColor;
    transition: transform .4s;
  }

  transition: all .4s;

  &:hover {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.404));
    svg {
      transform: translateX(5px);
    }
  }
}

.submit-btn {
  width: 100%;
  max-width: 163px;
  background: $color--a;
  border-radius: 3px;
  font-family: $font-family2;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: $text--w;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s;

  &:hover {
    filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.438));
    transform: scale(1.02);
  }
}

.dowload-button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 8px;
  font-family: $font-family1;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: $text--b;
  background: #FED036;
  border-radius: 3px;
  width: 100%;

  svg {
    fill: currentColor;
  }

  transition: all .4s;

  &:hover {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.438));
    transform: scale(1.02);
    background: #ffc400;
  }
}

.top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 8px;
  font-family: $font-family2;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $text--w;
  background: $color--a;
  width: 120px;
  height: 35px;
  border-radius: 2px;
  transition: all .4s;

  &:hover {
    filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.438));
    transform: scale(1.02) translateX(-50%);
    // background: #3c48f0;
  }

  svg {
    fill: currentColor;
  }
}
