.link-more {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  width: fit-content;

  font-family: $font-family1;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $text--a;

  svg {
    fill: currentColor;
  }
}

.submit-btn {
  width: 100%;
  max-width: 163px;
  background: $color--a;
  border-radius: 3px;
  font-family: $font-family2;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: $text--w;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dowload-button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 8px;
  font-family: $font-family1;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: $text--b;
  background: #FED036;
  border-radius: 3px;
  width: 100%;

  svg {
    fill: currentColor;
  }
}

.top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 8px;
  font-family: $font-family2;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $text--w;
  background: $color--a;
  width: 120px;
  height: 35px;
  border-radius: 2px;

  svg {
    fill: currentColor;
  }
}
