.center-sec {
  padding-top: 20px;

  &__box {
    display: grid;
    grid-template-columns:50% 48%;
    justify-content: space-between;
    align-items: end;
  }

  &__article {
    margin-bottom: 50px;
  }

  &__title {
    font-family: $font-family2 ;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 51px;
    color: #3E3E3E;
    margin-bottom: 20px;
  }

  &__text {
    padding: 33px 0 0;
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #3E3E3E;
    margin-bottom: 50px;
  }

  &__name {
    font-family: $font-family1;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #3E3E3E;
  }

  &__descr {
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #C4C4C4;
  }

  &__image {
    position: relative;
    z-index: 2;
  }

  &__absolute {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 46%;
    transform: translateY(-50%);
    z-index: -1;
    box-shadow: -4px -2px 20px 2px rgba(0, 0, 0, 0.25);
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.center-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  box-sizing: border-box;

  &__item {
    padding: 30px;
    background: #EDF3F6;
    border-radius: 3px;
    display: grid;
    grid-gap: 10px;
    border-top: 4px solid #FED036;
  }

  &__top {
    font-family: $font-family1 ;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #3E3E3E;
  }

  &__small {
    font-size: 18px;
    line-height: 22px;
  }

  &__bottom {
    font-family: $font-family1 ;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #3E3E3E;
  }
}
