.marker-list {
  display: grid;
  grid-gap: 7px;

  &__item {
    padding-left: 17px;
    position: relative;
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $text--b;

    &::before {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 1px;
      background: $color--a;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
}


.adress-list {
  display: grid;
  background-color: #fff;
  grid-gap: 10px;
  padding: 15px 20px;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 3px;

  &__item {
    display: flex;
    align-items: baseline;
    grid-gap: 10px;
  }

  &__title {
    font-family: $font-family1;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $text--b;
  }

  &__inner {
    display: grid;
    grid-gap: 10px;
  }
}
