.loop-slide {
  background: #FFFFFF;
  border: 2px solid #F1F1F1;
  border-radius: 3px;
  width: 290px !important;
  min-height: 258px;
  padding: 30px;
  box-sizing: border-box;
  display: grid;
  cursor: pointer;
  flex-shrink: 0;

  &__top {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    width: 60px;
    height: 60px;
    background: #FED036;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    display: grid;
    grid-gap: 25px;
    margin-bottom: 25px;
  }

  &__item {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  &__info {
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #878787;
  }

  &__descr {
    font-family: $font-family1;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #3E3E3E;
  }

  &__bottom {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }

  &__photo {
    flex-shrink: 0;
    border-radius: 50%;
  }
}

.slide-price {
  display: grid;
  grid-gap: 5px;
  text-align: right;

  &__title {
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #878787;
  }

  &__value {
    font-family: $font-family1;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #3E3E3E;
  }
}

.slide-info {
  display: grid;
  grid-gap: 1px;

  &__title {
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #878787;
  }

  &__name {
    font-family: $font-family1;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #3E3E3E;
  }
}

.loop-sec {
  padding-bottom: 35px;
}

.loop-slider {
  width: calc(100% + 120px);
  position: relative;
  margin: 0 auto;
  margin-left: -60px;

  &:before, &::after {
    content: '';
    height: 100%;
    width: 120px;
    z-index: 10;
    top: 0;
    position: absolute;
  }

  &::before {
    left: 60px;
    transform: translateX(-100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(2,0,36,0) 100%);
  }

  &::after {
    right: 60px;
    transform: translateX(100%) scaleX(-1);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(2,0,36,0) 100%);
  }
}

.loop-sec--single {
  padding-top: 70px;
}


