@media (min-width: 992px) and (max-width: 1240px) {
  // .contact-first__top {
  //   transform: translate(0) !important;
  // }

}

@media (min-width: 768px) and (max-width: 992px) {
}

@media (min-width: 577px) and (max-width: 768px) {
}

@media (min-width: 320px) and (max-width: 577px) {
  .security-box,
  .baner-sec__descr {
    display: none;
  }

  .baner-sec__wrapp {
    min-height: auto;
    padding-top: 30px;
  }

  .baner-sec__title {
    order: -1;
  }

  .baner-sec__title {
    font-size: clamp(28px, 8vw, 30px);
    line-height: 120%;
    text-align: center;
  }

  .baner-sec__subtitle {
    font-weight: 600;
    font-size: clamp(16px, 5vw, 20px);
    line-height: 19px;
    text-align: center;
  }

  .baner-sec__image {
    position: initial;
  }

  .baner-sec__box {
    grid-gap: Min(3.125vw ,30px);
  }

  .baner-sec__wrapp {
    position: relative;

    grid-gap: 30px;
  }

  .submit-btn {
    font-size: Min( 3.125vw,14px);
    line-height: 120%;
  }

  .callback-form {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 93.750vw;

    transform: translate(-50%, 50%);

    &__select {
      display: none;
    }

    &__form {
      max-width: 100%;
      height: 50px;
    }

    .tel {
      display: none;
    }

    &__order {
      border-radius: 3px 0 0 3px;
    }

    &--about {
      display: flex;
    }
  }

  .callback-form__order svg,
  .whatsapp {
    display: flex;
  }

  .callback-form__order,
  .whatsapp {
    display: flex;
    width: 50%;
    max-width: initial;

    font-style: normal;
    font-weight: 600;
    font-size: Min(5vw, 22px);
    line-height: 19px;
    font-family: $font-family1;
    color: #ffffff;

    grid-gap: 10px;
  }

  // main-top

  .main-top {
    grid-gap: 10px;

    &__title {
      font-weight: 800;
      font-size: Min(6.3vw, 30px);
      line-height: 120%;
    }

    &__descr {
      font-size: Min(3.750vw, 18px);
      line-height: 120%;
    }

    svg {
      width: clamp(10px, 3.125vw ,22px);
      height: auto;
      margin-top: 10px;
    }
  }

  // help-sec

  .help-sec {
    padding-top: 60px;

    &__top {
      margin-bottom: 30px;
    }

    &__list {
      grid-gap: Min( 3.125vw,20px);
      grid-template-columns: 1fr;
    }

    &__image {
      width: 33vw;
    }

    &__item {
      height: 43.125vw;
      padding: 16px 30.875vw 16px 16px;

      grid-gap: 18px;
    }

    &__title {
      font-size: Min(3.750vw ,24px);
      line-height: 120%;
      text-align: left;
    }
  }

  .marker-list {
    max-width: 95%;

    grid-template-columns: 1fr 1fr;

    &__item {
      height: fit-content;
      padding-left: Min(3.125vw ,17px);

      font-size: Min(2.500vw,14px);
      line-height: 120%;

      &::before {
        top: 50%;

        width: Min(1.875vw ,7px);
        height: Min(1.875vw ,7px);
      }
    }
  }

  .link-more {
    font-size: Min(2.5vw, 14px);
    line-height: 120%;

    svg {
      width: Min(1.563vw ,9px);
      height: auto;

      grid-gap: Min(1.875vw ,10px);
    }
  }

  // master-sec

  .master-sec {
    padding-top: 30px;

    &__top {
      order: 3;
      margin-bottom: 30px;
    }

    &__mobile {
      display: grid;
      order: 1;
      margin-bottom: 30px;
    }

    &__box {
      order: 2;
    }

    .container {
      display: flex;
      flex-direction: column;
    }

    &__dots {
      width: 56.250vw;
      margin: 20px auto 0;

      grid-gap: 10px;

      span {
        width: auto;
        height: 3px;
      }
    }

    &__wrapper {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px 20px 10px;

      grid-gap: 14px;

      .checkbox-container {
        display: none;
      }
    }

    &__mobile-image {
      display: flex;
      width: calc(100% + 40px);
      margin-left: -20px;

      img {
        width: 100%;
      }
    }

    &__image {
      top: 0;
      right: 15px;
      bottom: initial;

      width: 30vw;
      max-width: 120px;

      transform: translateY(-15%);
    }

    &__descr {
      max-width: 80%;
    }

    &__formname {
      font-size: Min(3.750vw ,18px);
      line-height: 120%;
    }

    &__text {
      display: flex;
      max-width: 80%;

      font-size: Min(2.500vw, 12px);
      line-height: 120%;
    }

    &__fildset {
      max-width: 575px;
      height: 39px;
      margin: 0 auto;
    }

    &__button {
      width: 30.938vw;
    }
  }




  .master-slider {
    align-items: stretch;
    max-width: 100%;
    padding: 0;
    overflow-x: initial;
  }

  .master-slide {
    width: 100% !important;
    max-width: 355px;
    padding-top: 55px;
    overflow-x: hidden;

    border: none;


    &__image {
      right: -100%;

      width: 178px;
      height: 200px;

      transform: translateX(-45%);

      img {
        width: 100%;
        height: 100%;

        object-fit: contain;
        object-position: bottom;
      }
    }

    &__wrapper {
      border: 1px solid #edf3f6;
      border-radius: 3px;
    }

    &__top {
      max-width: 55%;
      padding: 16px;
    }

    &__title {
      display: flex;
      align-items: center;

      font-size: Min(5vw, 16px);
    }

    &__descr {
      font-size: Min(3.750vw ,18px);
    }

    &__text {
      font-size: Min(3.125vw ,12px);
    }

    &__bottom {
      min-height: 70px;
      padding: 16px 16px 16px 36px;

      font-size: 12px;
      line-height: 15px;

      &::before {
        top: 19px;
        left: 14px;

        width: 10px;
        height: 8px;
      }
    }
  }

  .roster-box {
    margin: 50px auto 0;
    padding: 0 10px;

    &__image {
      right: -10px;
      z-index: -1;
    }

    &__item {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
    }
  }


  //reviews-sec

  .reviews-sec {
    padding-top: 60px;
    padding-bottom: 0;

    &__top {
      margin-bottom: 20px;
    }

    &__box {
      max-height: 216vw;
      padding-bottom: 0;
      overflow: hidden;

      grid-gap: 8px;
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      height: 100%;
      a,
      img {
        width: 100%;
      }
    }

    &__bottom {
      flex-direction: column-reverse;
      margin-top: Min(2vw,15px);

      grid-gap: 20px;
    }

    &__more {
      width: 49.688vw;
      height: clamp(36px, 11.250vw , 50px);
    }
  }

  // choose-us

  .choose-us {
    padding-top: 40px;

    &__top {
      margin-bottom: 30px;
    }

    &__box {
      margin-bottom: 60px;

      grid-gap: 30px;
      grid-template-columns: 1fr;
    }

    &__image {
      width: 28.438vw;
      max-width: 110px;
      height: auto;

      img {
        width: 100%;
      }
    }

    &__wrapper {
      min-height: 88px;
      padding: 18px 33px 20px;

      font-size: Min( 3.125vw,14px);
      line-height: 120%;

      &:before {
        top: 18px;
        bottom: initial;
        left: 16px;

        height: 21px;
      }
    }

    &__item {
      padding: 0;
    }

    &__title {
      margin-bottom: 8px;

      font-size: Min( 3.750vw,18px);
      line-height: 110%;
    }
  }

  .download-box {
    flex-direction: column-reverse;
    align-items: center;
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 41px 14px 0;

    grid-gap: 14px;

    &__man {
      position: initial;

      max-width: 360px;
    }
  }

  .download-descr {
    display: none;
  }

  .download-start {
    width: 91.563vw;
    max-width: 350px;
    padding: Min(5.313vw ,21px) Min( 15vw,59px)  Min( 7.813vw,30px);

    grid-gap: Min(3.750vw, 15px);

    &__image {
      width: 100%;

      img {
        width: 100%;
      }
    }

    &__title {
      font-size: Min(6.250vw ,28px);
      line-height: 100%;
    }

    &__descr {
      font-size: Min(3.750vw ,16px);
    }
  }


  //footer
  .footer__tell {
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 16px;

    span {
      font-size: 28px;
      line-height: 35px;
    }
  }

  .footer__mail {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 18px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #fed036;

    span::before {
      display: none;
    }
  }

  .inn {
    font-size: 10px;
    line-height: 12px;
  }

  .footer__info {
    font-size: 8px;
    line-height: 10px;
  }

  // contact-first

  .contact-first {
    padding-top: 50px;

    &__top {
      grid-gap: initial;
    }

    &__item {
      align-items: center;
      height: 20.625vw;
      min-height: initial;
    }

    &__slider {
      margin-bottom: 20px;
    }

    &__year {
      font-size: Min(8.750vw, 60px);
      line-height: 120%;

      small {
        font-size: Min( 3.750vw,20px);
        line-height: 120%;
      }
    }

    &__name {
      font-size: Min( 3.750vw,20px);
      line-height: 120%;
    }

    &__article {
      font-size: Min( 3.750vw,24px);
      line-height: 120%;
      text-align: center;
      grid-gap: Min( 5vw,30px);
    }
  }

  .start-company {
    padding-top: 30px;

    &__top {
      margin-bottom: 20px;
    }
  }

  .step-box {
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 93.750vw;
    margin: 0 auto;

    &:before {
      width: 2px;
      height: auto;
      left: 50%;
      top: 7%;
      bottom: 13%;
      transform: translateX(-50%);
    }

    &__item {
      max-width: initial;
      width: 50%;
      max-width: 200px;
      padding: 0;

      &::before {
        display: none;
      }
    }

    &__year {
      font-size: Min(6.250vw ,26px);
      line-height: 120%;
      position: initial;
    }

    &__descr {
      font-size: Min(3.750vw, 16px);
      line-height: 120%;
    }
  }

  .step-box__item:nth-child(1) {
    order: 1;
    transform: translateX(-50%);
    text-align: right;
    padding: 0 Min(5vw, 20px) 0 0;

    .step-box__year::before {
      width: 12px;
      height: 12px;
      right: 0px;
      left: initial;
      top: 20%;
      transform: translate(50%,-50%);
    }
  }

  .step-box__item:nth-child(2) {
    order: 3;
    transform: translateX(-50%);
    text-align: right;
    padding: 0 Min(5vw, 20px) 0 0;

    .step-box__year::before {
      width: 12px;
      height: 12px;
      right: 0px;
      left: initial;
      top: 20%;
      transform: translate(50%,-50%);
    }
  }

  .step-box__item:nth-child(3) {
    order: 5;
    transform: translateX(-50%);
    text-align: right;
    padding: 0 Min(5vw, 20px) 0 0;

    .step-box__year::before {
      width: 12px;
      height: 12px;
      right: 0px;
      left: initial;
      top: 20%;
      transform: translate(50%,-50%);
    }
  }

  .step-box__item:nth-child(4) {
    order: 7;
    transform: translateX(-50%);
    text-align: right;
    padding: 0 Min(5vw, 20px) 0 0;

    .step-box__year::before {
      width: 12px;
      height: 12px;
      right: 0px;
      left: initial;
      top: 20%;
      transform: translate(50%,-50%);
    }
  }

  .step-box__item:nth-child(5) {
    order: 9;
    transform: translateX(-50%);
    text-align: right;
    padding: 0 Min(5vw, 20px) 0 0;

    .step-box__year::before {
      width: 12px;
      height: 12px;
      right: 0px;
      left: initial;
      top: 20%;
      transform: translate(50%,-50%);
    }
  }

  .step-box__item:nth-child(6) {
    order: 2;
    transform: translateX(50%);
    text-align: left;
    padding: 0 0 0 Min(5vw, 20px);
    position: relative;

    .step-box__year::before {
      width: 12px;
      height: 12px;
      left: 0.5px;
      top: 20%;
    }
  }

  .step-box__item:nth-child(7) {
    order: 4;
    transform: translateX(50%);
    text-align: left;
    padding: 0 0 0 Min(5vw, 20px);
    position: relative;

    .step-box__year::before {
      width: 12px;
      height: 12px;
      left: 0.5px;
      top: 20%;
    }
  }

  .step-box__item:nth-child(8) {
    order: 6;
    transform: translateX(50%);
    text-align: left;
    padding: 0 0 0 Min(5vw, 20px);
    position: relative;

    .step-box__year::before {
      width: 12px;
      height: 12px;
      left: 0.5px;
      top: 20%;
    }
  }

  .step-box__item:nth-child(9) {
    order: 8;
    transform: translateX(50%);
    text-align: left;
    padding: 0 0 0 Min(5vw, 20px);
    position: relative;

    .step-box__year::before {
      width: 12px;
      height: 12px;
      left: 0.5px;
      top: 20%;
    }
  }


  // contact-sect

  .contact-sert {
    padding-top: 45px;

    &__top {
      margin-bottom: 30px;
    }

    &__list {
      grid-gap: 0;
      display: flex;
      grid-template-columns: initial;
    }

    &__inner {
      width: calc(100% + 20px);
      margin-left: -10px;
      position: relative;
      overflow: initial;

      &::before {
        content: '';
        width: 260px;
        left: -200px;
        height: 100%;
        top: 0;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 18.46%);
        z-index: 10;
        position: absolute;
      }

      &:after {
        content: '';
        width: 260px;
        right: -200px;
        top: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 18.08%);
        z-index: 10;
        position: absolute;
        height: 100%;
      }
    }

    &__item {
      img {
        width: 100%;
      }
    }
  }

  .contact-first__slider {
    position: relative;
    overflow: initial;
  }

  .contact-first__buttons {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 20;
    top: 50%;
    transform: translateY(50%);

    .swiper-button-disabled {
      opacity: .2;
    }
  }

  //repair-sec

  .repair-sec {
    padding-top: 30px;

    &__top {
      margin-bottom: 20px;
    }

    &__box {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }

    &__item img {
      width: 100%;
    }
  }

  //questions-sec

  .questions-sec {
    padding-top: 60px;
    padding-bottom: 30px;

    &__box {
      grid-template-columns: 1fr;
      margin-bottom: 0;
    }
  }

  .pay-metod {
    display: none;
  }

  .questions-bottom__fieldset:first-child {
    display: none;
  }

  .accordion-list__title {
    padding: 15px 14px;
    font-size: Min(4.375vw ,18px);
    line-height: 120%;
  }

  .accordion-sublist__item {
    padding: 20px 12px;
    font-size: Min(3.750vw ,18px);
    line-height: 120%;
  }

  .manager-box {
    min-height: 473px;
  }

  .manager-box__name {
    margin-left: 5vw;
    font-size: Min(5vw, 24px);
    line-height: 100%;
    height: initial;
    width: fit-content;
    padding: 10px 20px;
  }

  .manager-box__descr {
    font-size: Min( 3.750vw,16px);
    line-height: 100%;
    padding: 10px 20px 14px;
    margin-right: 5vw;
    width: 75vw;
    height: initial;
  }

  .questions-bottom__title {
    display: none;
  }

  .questions-bottom__form {
    grid-template-columns: 100%;
  }

  .questions-bottom__wrapp {
    padding: 25px 14px;
  }

  .questions-bottom__order {
    width: 30.313vw;
    max-width: 120px;
    font-size: Min( 3.750vw,14px);
    line-height: 100%;
    flex-shrink: 0;
    text-transform: capitalize;
  }

  .questions-bottom__fieldset input {
    font-size: Min( 3.750vw,14px);
    line-height: 100%;
    text-indent: Min(1vw, 28px);

    &::placeholder {
      font-size: Min( 3.750vw,14px);
      line-height: 100%;
    }
  }

  .questions-bottom__fieldset .select__header {
    max-width: 55px;
    width: fit-content;
    padding: 0 5px;
    height: 100%;
  }

  .select__item {
    padding: 0 5px;
  }

  .our-contact__list {
    grid-template-columns: 1fr 1fr;
  }

  .our-contact__icon {
    max-width: 36px;
    width: 5vw;
    height: auto;
    flex-shrink: 0;
    svg {
      width: 100%;
      height: auto;
    }
  }

  .our-contact__item {
    grid-gap: clamp(10px, 3.125vw ,20px);
    justify-content: center;
  }

  .our-contact__title {
    font-size: clamp(10px,3.125vw ,24px);
    line-height: 120%;
  }

  .our-contact__subtitle {
    font-size: clamp(10px,3.125vw ,24px);
    line-height: 120%;
  }

  .our-contact__inner {
    grid-gap: clamp(6px, 1.875vw ,10px);
    width: 37.500vw;
  }

  .our-contact {
    padding-top: 55px;
    padding-bottom: 0;
  }

  .map-section {
    padding-top: 30px;

    &__top {
      margin-bottom: 30px;
    }

    &__box {
      display: flex;
      flex-direction: column-reverse;
      max-height: initial;
      grid-gap: 10px;
    }

    &__map {
      max-width: 100%;
      height: clamp(426px, 133.125vw ,500px);

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    &__item {
      grid-gap: clamp(10px, 3.125vw ,20px);
    }

    &__form {
      height: clamp(40px, 12.500vw ,50px);

      input {
        font-size: Min( 3.750vw,14px);
        line-height: 100%;

        &::placeholder {
          font-size: Min( 3.750vw,14px);
          line-height: 100%;
        }
      }
    }

    &__submit {
      width: 31.250vw;
    }

  }

  .adress-list {
    grid-gap: clamp(8px, 2.500vw ,10px);

    &__item {
      svg {
        flex-shrink: 0;
        width: clamp(10px, 3.125vw ,12px);
        height: auto;
      }
    }

    &__title {
      font-size: clamp(10px, 3.125vw ,14px);
      line-height: 120%;
    }

    &__subtitle {
      font-size: clamp(10px, 3.125vw ,12px);
      line-height: 120%;
    }

    &__inner {
      grid-gap: clamp(6px, 1.875vw ,10px);
    }
  }

  .map-section__list {
    max-height: clamp(344px, 107.500vw , 434px);
  }

  .sity-sec {
    padding-top: 30px;

    &__top {
      margin-bottom: 30px;
    }

    &__box {
      background-image: none;
      flex-direction: column-reverse;
      display: flex;
      grid-gap: 10px;
      padding: 0;
    }

    &__list {
      grid-gap: clamp(11px, 3.438vw ,40px);
      min-width: 100%;
    }

    &__item {
      display: flex;
      align-items: center;

      &:nth-child(2) {
        .sity-sec__value {
          line-height: 100%;
          font-size: clamp(29px, 9.063vw ,45px);
        }
        .sity-sec__descr {
          width: 75%;
        }
      }

      &:nth-child(3) {
        .sity-sec__value {
          line-height: 100%;
          font-size: clamp(17px, 5.313vw ,35px);
        }
        .sity-sec__descr {
          width: 90%;
        }
      }
    }

    &__value {
      line-height: 100%;
      font-size: clamp(33px, 10.313vw ,50px);
      width: 16.563vw;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
    }

    &__descr {
      line-height: 110%;
      font-size: clamp(11px, 3.438vw ,16px);
      width: 67%;
      max-width: 100%;
      height: clamp(40px, 12.500vw ,50px);
    }
  }


  .scrin-sec__list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-height: calc(92.500vw * 5 + 50px);
    height: 100%;
    overflow-y: hidden;
  }

  .scrin-sec__item {
    height: 92.500vw;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: initial;
    }
  }

  .veiw-more {
    height: clamp(45px, 14.063vw ,50px);
    width: fit-content;
    padding: 0 20px;
    max-width: 165px;
  }


  //geo-master

  .geo-master {
    padding-top: 50px;

    &__top {
      margin-bottom: 30px;
    }

    &__box {
      grid-template-columns: 1fr;
      max-height: 100%;
      margin-bottom: 25px;
    }

    &__item {
      display: flex;
      flex-direction: column;
    }

    &__map {
      order: 2;
      height: clamp(432px, 135vw ,500px);
      width: 100%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  .office-adress {
    order: 1;

    &__title {
      font-size: clamp(14px, 4.375vw ,20px);
      line-height: 120%;
      height: clamp(50px, 15.625vw ,62px);

      svg {
        max-width: 24px;
        width: 6.250vw;
        height: auto;
      }
    }
  }

  .free-masters {
    order: 3;

    &__list {
      max-height: 255px;
    }
  }

  .office-adress__list .adress-list__title {
    font-size: clamp(12px,3.750vw,14px) !important;
    line-height: 120%;
  }

  .office-adress__list .adress-list__subtitle {
    font-size: clamp(12px,3.750vw,14px) !important;
    line-height: 120%;
  }

  .office-adress__list {
    svg {
      max-height: 18px;
      width: 4.688vw;
    }
  }

  .office-adress__list {
    padding: clamp(16px, 5vw ,20px) clamp(16px, 5vw ,20px) clamp(20px, 6.250vw ,30px);
  }

  .mobile-replace-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .order-master__button {
    max-width: 200px;
    max-height: 50px;
    font-weight: 500;
    text-transform: capitalize;
    width: 43.125vw;
    height: 10.625vw;

    font-size: clamp(12px, 3.750vw ,14px);
  }

  .order-master {
    padding: 30px 0;
    text-align: center;

    &__title::before {
      display: none;
    }

    &__title {
      font-size: clamp(16px, 5vw ,24px);
      line-height: 105%;
      padding: 0;
    }
  }

  .loop-sec {
    padding-bottom: 0;
  }


  .loop-slider {
    width: calc(100% + 20px);
    margin: 0;
    margin-left: -10px;
    padding-left: 10px;

    &::before, &::after {
      display: none;
    }
  }

  .loop-slide {
    width: 200px !important;
    padding: 20px;

    &__icon {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 70%;
        height: auto;
        margin: 0 auto;
      }
    }

    &__top {
      margin-bottom: 20px;
    }

    &__list {
      margin-bottom: 20px;
      grid-gap: 8px;
    }

    &__info {
      font-size: 10px;
      line-height: 12px;
    }

    &__descr {
      font-size: 10px;
      line-height: 12px;
    }

    &__photo {
      width: 30px;
      height: 30px;
    }

    &__bottom {
      grid-gap: 6px
    }
  }

  .slide-price {
    grid-gap: 1px;

    &__title {
      font-size: 12px;
      line-height: 15px;
    }

    &__value {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .slide-info {
    &__title {
      font-size: 10px;
      line-height: 12px;
    }

    &__name {
      font-size: 10px;
      line-height: 12px;
    }
  }


  //price-sec

  .price-sec {
    padding-top: 30px;

    &__top {
      margin-bottom: 25px;
    }

    &__wrapper {
      max-width: 100%;
      width: 100%;
    }

    &__order {
      display: none;
    }

    &__name {
      grid-area: head;
      font-size: clamp(10px, 3.125vw ,24px);
      line-height: 120%;
    }

    &__descr {
      grid-area: sub-head;
      font-size: clamp(8px, 2.5vw ,14px);
      line-height: 120%;
    }

    &__value {
      grid-area: value;
      font-size: clamp(10px, 3.125vw ,24px);
      line-height: 120%;
    }

    &__item {
      display: grid;
      grid-template-columns: 78% 18%;
      grid-template-areas:
        "head value"
        "sub-head value";
        padding: 12px 16px;
    }


  }

  .price-free  {
    display: grid;
    max-width: 100%;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    border: 1px dashed #3C93F0;
    border-radius: 3px;
    padding: 0 16px;

    &__item {
      width: 100%;
      border: none;
      position: relative;
      padding-left: 0;
      padding-right: 0;

      padding: clamp(12px, 3.750vw ,17px) 0;

      &:before {
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: #F1F1F1;
        content: '';
        position: absolute;
      }
    }

    &__title {
      font-size: clamp(10px, 3.125vw ,18px);
      line-height: 120%;
    }

    &__value {
      font-size: clamp(10px, 3.125vw ,18px);
      line-height: 120%;
      svg {
        max-width: 21px;
        width:3.750vw;
        height: auto;
      }
    }
  }



}


// @media (min-width: 320px) and (max-width: 992px) {

// }



@media screen and (max-width: 1240px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  body,
  html {
    width: 100%;
    overflow-x: hidden;
  }
}
