.questions-sec {
  padding-top: 70px;
  padding-bottom: 70px;

  &__top {
    margin-bottom: 50px;
  }

  &__box {
    display: grid;
    grid-template-columns: 66% 32%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
  }
}

.manager-box {
  min-width: 300px;
  min-height: 535px;
  background-image: url(../img/manager.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-gap: 8px;

  &__item {
    height: 58px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 3px;
  }

  &__name {
    height: 50px;
    max-width: 250px;
    background: #FED036;
    font-family: $font-family2;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: $text--b;
    margin-left: 30px;
  }

  &__descr {
    max-width: 300px;
    background: #F6F6F6;
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $text--b;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: 30px;
  }
}

.pay-metod {
  padding: 30px 30px 26px;
  background: #EDF3F6;
  border-radius: 3px;
  width: 400px;
  display: grid;
  grid-gap: 20px;
  flex-shrink: 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
  }

  &__title {
    font-family: $font-family2;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: $text--b;
  }
}

.questions-bottom {
  display: flex;
  grid-gap: 20px;
}

.questions-bottom__wrapp {
  display: grid;
  grid-gap: 20px;
  padding: 30px;
  background: #FED036;
  border-radius: 3px;
}

.questions-bottom__form {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 35% 60%;
}

.questions-bottom__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 40px;

  .select__header {
    width: 60px;
  }

  input {
    height: 100%;
    border: none;
    text-indent: 28px;
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $text--b;

    &::placeholder {
      font-family: $font-family1;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: $text--b;
    }
  }

  input[type=tell] {
    text-indent: 0px;
  }


}

.questions-bottoms__select {
  display: flex;
}

.questions-bottom__order {
  font-family: $font-family1;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $text--w;
  height: 100%;
}

.questions-bottom__info {
  font-family: $font-family2;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: $text--b;

  a {
    text-decoration: underline;
    color: #3C93F0;
  }
}

.questions-bottom__title {
  font-family: $font-family2;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: $text--b;
}
