.repair-sec {
  padding-top: 70px;

  &__top {
    margin-bottom: 50px;
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
  }
}
